<ion-header>
    <ion-navbar>
        <ion-title>
            {{ product.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div padding>
        {{ product.description }}
    </div>

    <div padding>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="tend">
            Tendência
            </ion-segment-button>
            <ion-segment-button value="hist">
            Histórico
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-content>